<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ticktapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/tickt_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/tickt_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ticktapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <!-- Dropbox AuthActivity -->
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <data android:scheme="db-klrulw5bqvnusb0" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mvvm.view.tradie.NotificationsTradieActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.AddQuoteActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.VerificationProcessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.TradieSavedJobActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.TradieMyRevenueActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.milestone.StripeBECSActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.TradieSettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.LodgeDisputeTradieActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mvvm.view.tradie.AddBuilderReviewActivityCompleted" />
        <activity android:name=".mvvm.view.tradie.RateBuilderActivityComment" />
        <activity android:name=".mvvm.view.tradie.RateBuilderActivityStar" />
        <activity android:name=".mvvm.view.builder.categories.AllTradesActivity" />
        <activity android:name=".mvvm.view.builder.postjob.TemplateMilestoneActivity" />
        <activity android:name=".mvvm.view.builder.postjob.PayActivity" />
        <activity android:name=".mvvm.view.builder.postjob.JobDescActivity" />
        <activity android:name=".mvvm.view.builder.postjob.LocationActivity" />
        <activity
            android:name=".mvvm.view.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvvm.view.tradie.TradieAskQuestionActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvvm.view.tradie.TradieQuestionListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.BuilderProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.onboarding.OnboardingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.SignupProcessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.PhoneNumberActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.VerifyNumberActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.CreatePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.AddDocumentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.TradeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.SpecializationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.DoneActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.completemilestone.JobCompletedSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.ABNActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.StaticDataActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.postjob.PostNewJobActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.SearchJobActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.SearchDataActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.SearchAmountActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.exampl.UploadPhotosActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.exampl.AddEditPortfolioActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.SearchLocationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.SearchCalendarActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.HomeBuilderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.FilterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.JobDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.CancelJobByTradieActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.completemilestone.MilestoneListingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.TradieJobDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.DialogImageViewPostActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.JobAppliedActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.FileOpenActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.VideoOpenActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.postjob.DateActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.postjob.AddMilestoneActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.postjob.AllMilestoneActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.postjob.SavedTemplateActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.postjob.SaveTemplateActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.postjob.PostJobSummaryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.postjob.PostedJobActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.postjob.MilestoneTemplateActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.exampl.VideoImageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.search.CategorySearchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.search.SearchTradieActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.NewApplicantActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.postjob.CheckAndApproveMilestoneActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.NewApplicantListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.search.OnlyCategorySearchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.TradieProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.TradiePublicProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.PortFolioActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.SearchPastJobsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.TradieBankDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.TradieReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.RatedTradieActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.QuestionListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.AskQuestionReplyActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvvm.view.tradie.ReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.ViewQuoteActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.JobListedActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.NewJobsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.ApprovedMilstonesJobListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.completemilestone.MilestoneHoursActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.completemilestone.PaymentDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.completemilestone.BankDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.AboutusActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.EditBasicDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.ChangeEmailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.VerifyEmailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.ChangePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.ChangePasswordSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.DocumentViewrActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.ChooseJobActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.categories.ChoosedJobSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.milestone.MilestoneEditListingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.milestone.MilestoneSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.CancelJobByBuilderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.CancelledJobActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.milestone.MilestoneDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.LodgeDisputeBuilderActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvvm.view.builder.LodgeDisputedJobActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.MilestoneDeclineActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.MilestoneDeclinedJobActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.milestone.MilestoneConfirmPayActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.milestone.PaymentSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.milestone.AddCardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.milestone.MilestoneConfirmPaySelectActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.TradieListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.profile.MyBuilderProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.profile.EditBuilderBasicDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.BuilderPublicProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.NeedApprovalBuilderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.ReviewListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.VounchListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".mvvm.view.builder.JobsListActivity" />
        <activity
            android:name=".mvvm.view.builder.AddVoucherBuilderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.ReplyReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.ReviewListBuilderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.TradieEditReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.WebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.milestone.MilestoneEditProfileListingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.profile.BuilderSettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.profile.PaymentSelectActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.BuilderMyRevenueActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.SearchBuilderPastJobsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.BuilderMyRevenueMilestoneActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.ChatBuilderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.ChatTradieActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.NotificationsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.QuoteListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.QuoteDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.QuoteAcceptedTradieActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.QuoteJobCancelledActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.VerifyEmailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.EmailVerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.builder.TradieReviewJobActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.tradie.QuoteAppliedActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_white_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
    <queries>
        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>
</manifest>